* {
    margin: 0;
    padding: 0;
}

.cabecalho{
    padding: 15px 25px;
}

.cartao{
    width: 260px;
    height: 200px;
}

.cartao-imagem{
    size: 50px;
    width: 300px; /* Altera a largura para 300 pixels */
    height: auto; /* Ajusta a altura automaticamente de forma proporcional */
}
body{
    background-color: rgb(151, 228, 236);
}
